@media (min-device-width: 993px) {
    body {

    background-color: #243a4f;

    }

    #nav {

    background-color: #344e66;

    }

    #leftside {

    float: left;
    width: 25%

    }

    #content {

    float: left;
    width: 50%;

    }

    #content_all_news {

    width: 100%;

    }

    #content_regions {

    float: left;
    width: 50%;

    }


    #rightside {

    float: left;
    width: 25%

    }

    #lside {
    float: right;
    background-color: #344e66;

   }

   #li_item {
        font-family: 'Montserrat', sans-serif;
        color: #7eb3e4;
        text-decoration: none;
        size: 8px;
        }

    #li_item:hover {
        background-color: #3f5f7c;
        font-family: 'Montserrat', sans-serif;
        color: #8dacca;;
        text-decoration: none;
        }

    #media {
        width: 45%;
        float: left;
    }

    #title_news {
    font-family: 'Russo One', sans-serif;
    color: #7eb3e4;
    text-decoration: none;

}

#title_news:hover {
    font-family: 'Russo One', sans-serif;
    color: #729ec7;
    text-decoration: none;

}

#category_news {
    font-family: 'Montserrat', sans-serif;
    color: #7eb3e4;
    text-decoration: none;
    size: 8px;
}

#category_news:hover {
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
}

#lside {
    float: right;
    background-color: #344e66;

}

.brand_title {
    font-family: 'Caveat', cursive;
    size: 16px;
}

navbarNav {
    text-decoration: none;
}

#li_item {
    font-family: 'Montserrat', sans-serif;
    color: #7eb3e4;
    text-decoration: none;
    size: 8px;
    }

#li_item:hover {
    background-color: #3f5f7c;
    font-family: 'Montserrat', sans-serif;
    color: #8dacca;;
    text-decoration: none;
}

.c-page-link {
    background-color: #344e66;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;
    text-decoration: none;
}

.c-page-link:hover {
    background-color: #3f5f7c;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
}

.c-page-item {
    background-color: #344e66;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
    border: #7eb3e4
}

.is-active {
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
}

a {
    outline: none;
}

#cat-nav {
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;
    background-color: #344e66;
}

#feedback {
    font-family: 'Russo One', sans-serif;
    color: #729ec7;
    background-color: #344e66;
}

.id_text {
    width: 95%;
    height: 250px;

}

#brand-m {
    display: none;
    }

#description {
    font-family: 'EB Garamond', serif;
    color: #7eb3e4;
    text-decoration: none;
    font-size: 16px;
}

#details {
    font-family: 'EB Garamond', serif;
    color: #7eb3e4;
    text-decoration: none;
    font-size: 14px;
    outline: none;
}

    #go_to_top {
       position: fixed;
       bottom: 20px;
       right: 20px;
    }
    #go_to_top_m {
        display: none;
    }

    #choose_city{
        background-color: #344e66;
        color: white;
        outline:none;

    }

    #menu_item {
        background-color: #344e66;
        font-family: 'Montserrat', sans-serif;
        color: #7eb3e4;
        font-size: 14px;
    }

    #table {
        background-color: #344e66;
    }

    #bckground_menu {
        background-color: #344e66;
    }

    #weather {
        background-color: #344e66;
        height: 150px;
    }

    #weather_w {
        width: 300px;
    }

    #date_time {
        float: left;
        width: 25%;
        height: 150px;
    }

    #weather_details {
        float: left;
        height: 150px;
    }

    #temperature {

    }

}


@media (max-device-width: 992px) {

    body {

    background-color: #243a4f;

    }

    #nav {

    background-color: #344e66

    }

    #leftside {

    display: none;

    }

    #rightside {

    display: none;

    }

    #cat-nav {

    font-family: 'Montserrat', sans-serif;
    color: #729ec7;
    background-color: #344e66;
    }

    #media {
    background-color: #344e66;
    }

    #title_news {
    font-family: 'Inter', sans-serif;
    color: #7eb3e4;
    text-decoration: none;

    }

    #title_news:hover {
    font-family: 'Inter', sans-serif;
    color: #729ec7;
    text-decoration: none;

    }

    #category_news {
    font-family: 'Montserrat', sans-serif;
    color: #7eb3e4;
    text-decoration: none;
    size: 6px;
    }

    #category_news:hover {
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
    }

    .c-page-link {
    background-color: #344e66;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;
    text-decoration: none;
}

.c-page-link:hover {
    background-color: #3f5f7c;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
}

.c-page-item {
    background-color: #344e66;
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
    border: #7eb3e4
}

.is-active {
    font-family: 'Montserrat', sans-serif;
    color: #729ec7;;
    text-decoration: none;
}

a {
    outline: none;
}

#brand-img {
    display: none;
}

button {

    background: #344e66;

}

    #dropdown-menu {

    background-color: #344e66;

    }

    #dropdown-item {

    color: #7eb3e4;
        font-family: 'Inter', sans-serif;

    }

    #description {
    font-family: 'EB Garamond', serif;
    color: #7eb3e4;
    text-decoration: none;
    font-size: 16px;
}

    #details {
    font-family: 'EB Garamond', serif;
    color: #7eb3e4;
    text-decoration: none;
    font-size: 14px;
    outline: none;
}
    #go_to_top {
    display: none;
    }
    
    #go_to_top_m {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    #choose_city{
        display: none;
    }

}