{% extends "news/layout/base.html" %}
{% load static %}

{% block category %}

Форма обратной связи

{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
    <div class="border mb-4 rounded border-secondary" id="feedback">
        <div class="mt-2 ml-4 mb-3">
            <div>
                <p>{{ form.name.label }}</p>
            </div>
            <div>
                <p>{{ form.name }}</p>
            </div>
            <div>
                <p>{{ form.email.label }}</p>
            </div>
            <div>
                <p>{{ form.email }}</p>
            </div>
            <div>
                <p>{{ form.text.label }}</p>
            </div>
            <div>
                <p>{{ form.text }}</p>
            </div>
            <div>
                <p>{{ form.captcha.label }}</p>
                <p>{{ form.captcha }}</p>
            </div>
            <div>
                <input type="submit" value="Отправить">
            </div>
        </div>
    </div>


</form>

{% endblock %}