{% extends "news/layout/base.html" %}
{% load static %}


{% block citymenu %}

<div class="dropdown">
            <button type="button" class="btn" role="button"  data-toggle="dropdown" id="choose_city"><h8>Выберите свой город</h8></button>
            <div class="dropdown-menu" aria-labelledby="choose_city" id="bckground_menu">
                <table id="table">
                    {% for c in city %}
                        {% if forloop.counter0|divisibleby:"5" %}
                               <tr>
                        {% endif %}
                                   <td class="m-2">
                                       <a class="dropdown-item" id="menu_item" href="{% url 'by_regions' c.pk %}">{{ c.name }}</a>
                                    </td>
                         {% if forloop.counter|divisibleby:"5" %}
                           </tr>
                         {% endif %}
                          {% endfor %}
                </table>


            </div>

        </div>

{% endblock %}


{% block category %}

<div class="mt-3 mr-3 float-right" id="cat-nav">
  <p><h8>Все новости</h8></p>
</div>

{% endblock %}


{% block content %}

{% for n in news %}

<div class="card mb-2 ml-4" id="media">
    <img src="{{n.media}}" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{n.title}}</h5>
      <details>
          <summary class="mb-2" id="#">Подробнее</summary>
          <p class="card-text"><h8>{{ n.description }}</h8></p>
      </details>
      <p class="card-text"><small class="text-muted">{{n.published|timesince }} назад</small></p>
    </div>
  </div>

{% endfor %}

{% endblock %}